
*{margin: 0;padding: 0;}

body {margin: 0; padding: 0; min-height: 100vh;}

body {background-image: url(img/fon5.jpg); display: flex; flex-direction: column;background-size: cover;
background-position: 50% 50%;} 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

.logo {text-align: center; color:rgb(0, 255, 255);  font-size: 90px; font-family: 'Open Sans' 
cursive; padding-top: 50px; padding-bottom: 30px;font-weight:400;} 

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.info {text-align: center; padding-top: 50px; font-weight: bold; font-size: 21px; 
font-family: 'Nunito', cursive; color: #4bddeb; padding-bottom: 100px; margin-left: 10px; margin-right: 10px;}

.information {text-align: center; padding-top: 70px; font-weight: bold; font-size: 21px; 
font-family: 'Nunito', cursive; color: #4bddeb;}

.container {text-align: center;}

.image{
    border-radius: 50%;
    object-fit: cover; 
    width: 250px;
    height: 250px;
}

.Tony {width: 700px; height: 400px;}

.information p {
    height: 170px;
    margin-left: 58px;
    width: 92%;
}

h1 {text-align: center;  font-size: 75px; color: #86A8F7; padding-top: 50px;}

.text {text-align: center; padding-top: 80px; font-weight: bold; font-size: 21px; 
font-family: 'Nunito', cursive; color:#86A8F7; /*#5C8BF7*/}

.text p {
    height: 170px;
    margin-left: 58px;
    width: 92%;
    padding-top: 80px;
    padding-bottom: 80px;
} 

.Expo {width: 600px; height: 400px;}

.informati {text-align: center; padding-top: 20px; font-weight: bold; font-size: 21px; 
font-family: 'Nunito', cursive; color: #ff8686;}

.informati p {
    height: 170px;
    margin-left: 58px;
    width: 92%;
    padding-top: 80px;
    padding-bottom: 80px;
} 

.IronMan {width: 600px; height: 350px;}

