*{margin: 0;padding: 0;}
@font-face {
    font-family: 'Pacifico'; 
    src: url(fonts/Pacifico-Regular.ttf); 
   }

body {margin: 0; padding: 0; min-height: 100vh;}

body {background-image: url(img/fon.jpg); display: flex; flex-direction: column;background-size: cover;
    background-position: 50% 50%;}

main {
    flex-grow: 1;
}

nav {display: flex; flex-direction: column; background-color: #918e8e; padding: 20px; width: 80px;}

.Death{display: flex; justify-content: space-evenly; margin-bottom: 35px;}

.Death h3 {margin-bottom: 20px; color: black;}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.Death div {flex-basis: 50px; font-family: 'Rubik', cursive; font-size: 17px; color: rgb(250, 235, 235);}

h2 {text-align: center; margin-bottom: 35px; font-size: 42px; font-family: 'Pacifico', cursive;}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.info {text-align: center; padding: 65px;font-weight: bold; font-size: 19px; font-family: 'Nunito', cursive;}

.info{
  font-size: 20px;
  background: linear-gradient(45deg, #95bdff 30%, #8af2fa 33%, #ff76e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #95bdff;
  display: table;
  margin: 20px auto;
}

.logo {text-align: center; font-size: 50px;}

@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.logo{
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #1f57b1 33%, #1f8daf 44%, #eb85d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1f57b1;
  display: table;
  margin: 20px auto;
}

.gradient {
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #1a4791 33%, #197896 44%, #f56dd7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1a4791;
  display: table;
  margin: 20px auto;
  }

.contact {position: absolute; right: 10px; top: 10px;background-color: #838383; border-radius: 25px; 
padding: 15px; font-size: 15px; color: white;}

.text {text-align: center;font-weight: bold; font-size: 19px; font-family: 'Nunito', cursive;}

.text{
  font-size: 19px;
  background: linear-gradient(45deg, #1a6ef5 30%, #39e8f8 33%, #fc04c6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0062ff;
  display: table;
  margin: 10px auto;
}

.information {background-color: #43bdbd; border-radius: 15px; padding: 16px; font-size: 16px; color: white; 
font-weight:800; position: relative; left: 45%;}

footer {display: flex; justify-content: space-between; padding: 50px;}

nav2 {display: flex; flex-direction: column;}

.button {border-radius: 20px; padding: 9px; font-size: 15px; margin: center;}