*{margin: 0;padding: 0;}
@font-face {
  font-family: 'Pacifico'; 
  src: url(fonts/Pacifico-Regular.ttf); 
}

body {margin: 0; padding: 0; min-height: 100vh;}

body {background-image: url(img/fon.jpg); display: flex; flex-direction: column;background-size: cover;
background-position: 50% 50%;}

main {
  flex-grow: 1;
}

nav {display: flex; flex-direction: column; padding: 20px; width: 25px; }

@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h2 {
  font-family: monospace;
  color: #606060;
}
nav {
  width: 45px;
}
ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}
a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  /* width: 100%; */
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.one ul {
  background: #ECDAD6;
  border-radius: 35px;
}
.one ul a {
  color: #573831;
}
 .one .submenu {
  display: none;
  background: #ECDAD6;
}
.one ul li:hover .submenu {
  display: block;
  border-radius: 10px;
}  

.Death{display: flex; justify-content: space-evenly; margin-bottom: 35px;}

.Death h3 {margin-bottom: 20px; color: black; text-align: center;}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.Death div {flex-basis: 50px; font-family: 'Rubik', cursive; font-size: 17px; 
color: rgb(250, 235, 235);}

h2 {text-align: center; margin-bottom: 35px; font-size: 42px; font-family: 'Pacifico', cursive;}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.info {text-align: center; padding: 65px;font-weight: bold; font-size: 19px; 
font-family: 'Nunito', cursive;}

.info{
  font-size: 20px;
  background: linear-gradient(45deg, #95bdff 30%, #8af2fa 33%, #ff76e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #95bdff;
  display: table;
  margin: 20px auto;
}

.logo {text-align: center; font-size: 50px;}

@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.logo{
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #1f57b1 33%, #1f8daf 44%, #eb85d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1f57b1;
  display: table;
  margin: 20px auto;
}

.gradient {
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #1a4791 33%, #197896 44%, #f56dd7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1a4791;
  display: table;
  margin: 20px auto;
  }

.contact {position: absolute; right: 10px; top: 10px;background-color: #838383; border-radius: 25px; 
padding: 15px; font-size: 15px; color: white; cursor: pointer;}

.text {text-align: center;font-weight: bold; font-size: 19px; font-family: 'Nunito', cursive;}

.text{
  font-size: 19px;
  background: linear-gradient(45deg, #1a6ef5 30%, #39e8f8 33%, #fc04c6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0062ff;
  display: table;
  margin: 10px auto;
}

.information {background-color: #43bdbd; border-radius: 15px; padding: 16px; font-size: 16px; 
color: white; font-weight:800; position: relative; left: 45%; cursor: pointer;}

footer {display: flex; justify-content: space-between; padding: 50px; }

nav2 {display: flex; flex-direction: column;}

/*.button {border-radius: 20px; padding: 9px; font-size: 15px; margin: center; position: relative; left: 50%;
transform: translate(-50%, 0);}*/

textarea{
  font-size: 25px;
  height: 90px;
  width: 380px;
}

.two {
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap:wrap;
}

.two ul a {
  padding: 20px;
  color: #f587ef;
}

/* .three ul a {
  color: #f587ef;
} */

.three li{
  padding-left: 0px;
  padding-top: 25px;
  display: inline-block;
}

.p1 {font-size: 22px; font-family: 'Nunito', cursive; text-align: start;}

.p1{
  background: linear-gradient(45deg, #95bdff 30%, #8af2fa 33%, #ff76e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #95bdff;
  display: table;
}

.question {text-align: center;}

.button {  
  display: inline-block;
  background: #d3d1d1;
  margin: 10px;
  width: 55px;
  height: 55px;
  /*background: url(http://subtlepatterns.com/patterns/extra_clean_paper.png);*/
  cursor: pointer;
  border-radius: 50%;

  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(201, 171, 171, 0.1),
  inset 0 0 20px rgba(255, 255, 255, 0.1);
}
