*{margin: 0;padding: 0;}
@font-face {
    font-family: 'Pacifico'; 
    src: url(fonts/Pacifico-Regular.ttf); 
   }

body {margin: 0; padding: 0; min-height: 100vh;}

body {background-image: url(img/fon.jpg); display: flex; flex-direction: column;background-size: cover;
    background-position: 50% 50%;}

main {
    flex-grow: 1;
}

.Death{display: flex; justify-content: space-evenly; margin-bottom: 35px;}

.Death h3 {margin-bottom: 20px;}

h2 {text-align: center; margin-bottom: 35px; font-size: 42px; font-family: 'Pacifico', cursive;}

.info {background-color: aliceblue; padding: 45px;margin-bottom: 35px; margin-left: 140px; margin-right: 140px; 
border: 1px solid #000;}

.logo {text-align: center; font-size: 50px;}

@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.logo {
  font-size: 50px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #1f57b1 33%, #1f8daf 44%, #eb85d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1f57b1;
  display: table;
  margin: 20px auto;
}

.gradient {
    font-size: 50px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #1a4791 33%, #197896 44%, #f56dd7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #1a4791;
    display: table;
    margin: 20px auto;
  }

  .contact {position: absolute; right: 10px; top: 10px;}

.text {text-align: center;}
.information {background-color: #43bdbd; border-radius: 15px; padding: 16px; font-size: 16px; color: white; 
    font-weight:800;}